<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sber_Kvit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Kinder_Bill.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Sber_Kvit.Properties.Settings>
            <setting name="tb_set_addSet_ResourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_addSet_ResultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_req_OrgName" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_req_Inn" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_req_Kpp" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_req_PayAcc" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_req_Bic" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_req_Bank" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_Fio" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_FioChild" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_Nazn" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_Kbk" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_Oktmo" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_Summa" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_Period" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_ClassNum" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_Group" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_set_addSet_PrintDateSign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="combo_set_addSet_KvitCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="combo_set_addSet_Frame" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tb_set_addSet_FontSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="tb_set_addSet_AddInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_FioBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_FioChildBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_NaznBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_ClassNumBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_GroupBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_KbkBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_OktmoBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_SummaBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_file_PeriodBar" serializeAs="String">
                <value />
            </setting>
            <setting name="tb_set_req_Inn_Dep" serializeAs="String">
                <value />
            </setting>
        </Sber_Kvit.Properties.Settings>
        <Kinder_Bill.Properties.Settings>
            <setting name="tb_set_addSet_ResourcePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_addSet_ResultPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_req_OrgName" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_req_Inn" serializeAs="String">
                <value>5503017610</value>
            </setting>
            <setting name="tb_set_req_Kpp" serializeAs="String">
                <value>550301001</value>
            </setting>
            <setting name="tb_set_req_PayAcc" serializeAs="String">
                <value>40701810400003001116</value>
            </setting>
            <setting name="tb_set_req_Bic" serializeAs="String">
                <value>045209001</value>
            </setting>
            <setting name="tb_set_req_Bank" serializeAs="String">
                <value>ОТДЕЛЕНИЕ ОМСК</value>
            </setting>
            <setting name="tb_set_file_Fio" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_FioChild" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_Nazn" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_Kbk" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_Oktmo" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_Summa" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_Period" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_ClassNum" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_Group" serializeAs="String">
                <value/>
            </setting>
            <setting name="cb_set_addSet_PrintDateSign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="combo_set_addSet_KvitCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="combo_set_addSet_Frame" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tb_set_addSet_FontSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="tb_set_addSet_AddInfo" serializeAs="String">
                <value/>
            </setting>
            <setting name="tb_set_file_FioBar" serializeAs="String">
                <value>LastName</value>
            </setting>
            <setting name="tb_set_file_FioChildBar" serializeAs="String">
                <value>FIO</value>
            </setting>
            <setting name="tb_set_file_NaznBar" serializeAs="String">
                <value>VPL</value>
            </setting>
            <setting name="tb_set_file_ClassNumBar" serializeAs="String">
                <value>NDS</value>
            </setting>
            <setting name="tb_set_file_GroupBar" serializeAs="String">
                <value>GR</value>
            </setting>
            <setting name="tb_set_file_KbkBar" serializeAs="String">
                <value>КБК</value>
            </setting>
            <setting name="tb_set_file_OktmoBar" serializeAs="String">
                <value>ОКАТО</value>
            </setting>
            <setting name="tb_set_file_SummaBar" serializeAs="String">
                <value>Sum</value>
            </setting>
            <setting name="tb_set_file_PeriodBar" serializeAs="String">
                <value>PERIOD</value>
            </setting>
        </Kinder_Bill.Properties.Settings>
    </userSettings>
</configuration>
